/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    place-items: center;
    background-color: #797978;
    padding: 30px;
    min-height: 100vh;
}

#height, #weight {
    width: 100%;
    max-width: 150px;
    height: 25px;
    margin-top: 30px;
}

#weight-guide {
    margin-top: 25px;
    text-align: center;
}

#results {
    font-size: 35px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
    text-align: center;
}

button {
    height: 35px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #212121;
    color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    #height, #weight {
        width: 100%;
        max-width: 100%;
    }

    button {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        font-size: 20px;
    }

    #results {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    #results {
        font-size: 25px;
    }

    button {
        font-size: 18px;
    }
}